.border{
    
    margin: 5px;
}
.flex{
display: flex;
}
.justify-content{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.font-weight1{
    font-weight: 400;
    font-size: large;
}
.img-size{
    width:180px;
    margin-top: 20px;
}
.card-size{
    width: 200px;
    height: 320px;
    background-color: rgb(28, 28, 28);
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark background */
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #444;    /* Darker thumb */
  border-radius: 6px;
  border: 3px solid #1e1e1e; /* Matches track for seamless look */
  cursor: pointer;
}

